<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Register</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {%endfor%}
    {%endif%}

    <h3>Registration</h3>
    <form action="/register" method="post">
        {%csrf_token%}
        First Name: <input type="text" name="first_name" placeholder="First Name"><br>
        Last Name:  <input type="text" name="last_name" placeholder="Last Name"><br>
        Email: <input type="text" name="email" placeholder="email"><br>
        Password: <input type="text" name="password" placeholder="Password"><br>
        Confirm Password: <input type="text" name="c_password" placeholder="Confirm Password"><br>
        <br>
        <input type="submit" value="Register">

    </form>

    <h3>Login</h3>
    <form action="/login" method="post">
        {%csrf_token%}
        Email: <input type="text" name="email" placeholder="email"><br>
        Password: <input type="text" name="password" placeholder="Password"><br>
        <br>
        <input type="submit" value="Login">

</body>
</html>